!!! 5
%html
  %head
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    %title
      = "Cody Reichert - #{current_article.title}"

    %link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/all.css"}

  %body

    #header
      = partial(:sidebar)

    .row-fluid
      .col-md-9.col-md-offset-3.content
        #contentupper
          = partial(:contentupper)

    .row-fluid
      .col-md-9.col-md-offset-3.content
        .page-header
          %h1
            %a= link_to(current_page.data.title, current_page.data.path)
            %small= current_page.data.date.strftime('%b %e, \'%y')
        #content-area
          = yield

    .col-md-9.col-md-offset-3.content
      %p{ :style => 'text-align:right;' } Copyright 2014 - Cody Reichert

    %script(src="/javascripts/all.js")
