.row
  = link_to 'http://facebook.com/reichertbrothers' do
    %span.fa.fa-facebook
  = link_to 'http://twitter.com/reichertbros' do
    %span.fa.fa-twitter
  = link_to 'http://linkedin.com/company/reichertbrothers' do
    %span.fa.fa-linkedin
  = link_to 'http://github.com/CodyReichert' do
    %span.fa.fa-github
  = link_to 'mailto:cody@reichertbrothers.com' do
    %span.fa.fa-envelope

%hr#content-separator
